#paragraphe {


	background-color : #0000aa;
	
	}
	
#paragraphe2{

	background-color : white;
	
	}
	
#paragraphe3 {


	background-color: #aa0000;
	
	}
	
img{
	
	display : block;
	text-align : center;
}	
input{

	margin : 10px;

}

form{

	background-size : cover;
width : 700px;
text-align : center;
background-image: url('calais.jpg');
margin : auto;

}